<!-- mail page html template -->
<ion-header no-border>
  <headpage pageName="rounddisplay"></headpage>
</ion-header>

<ion-content id="body">
 
    <ion-grid class="heightstyle">
    
      <ion-row class="heightstyle" id="firstrow">
        <ion-col
          col-8
          id="testcol"
          class="heightstyle"
          style="background-color: rgba(0, 0, 0, 0.904)"
        >
          <ion-row class="rowcanvas">
            <canvas
              #canvas
              (wheel)="on_wheel($event);"
              (mouseup)="on_mouse_up($event);"
              (mousedown)="on_mouse_down($event);"
              (mousemove)="on_mouse_move($event);"
            ></canvas>
            <img id="imgmap" #imgmap src={{map_url}} crossorigin="anonymous" class="video" style="display:none;" />
            </ion-row
          ><ion-row class="btnsmap">
            <ion-col col-6>
              <button class="btnmap" (mouseup)="on_zoom_out($event)" ion-button>
                <ion-icon name="search"></ion-icon> -
              </button> </ion-col
            ><ion-col col-6>
              <button ion-button (mouseup)="on_zoom_in($event)" class="btnmap">
                <ion-icon name="search"></ion-icon> +
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-4 style="background-color: rgb(182, 217, 230)">
          <ion-row class="heightstyle10">
            <ion-col col-9 style="background-color: rgb(182, 217, 230)">
              <ion-item style="background-color: transparent">
                <ion-label>
                  <h1 style="font-size: x-large">
                    {{param.datatext.rounds_list}}
                  </h1>
                </ion-label></ion-item
              >
            </ion-col>
          <ion-col col-3 style="background-color: rgb(182, 217, 230)">
            <ion-buttons class="div_btn_map">
              <button
                [hidden]="newpoi || editpoi || gopoi || api.towardPOI || newmap || editmap"
                (mouseup)="goCreateRound($event)"
                ion-button
                class="btn_map"
                *ngIf="api.id_current_map!=undefined"
              >
                <ion-icon style="font-size: 3vw" name="add"></ion-icon></button
            ></ion-buttons>
          </ion-col>
        </ion-row>
        <ion-row class="heightstyle90">
          
          <ion-content #content1 class="scroll" style="height: 100%; width: 100%; background-color: rgb(182, 217, 230)">
            <ion-list>
              <ion-item-sliding
                *ngFor="let m of this.api.round_current_map; let index = index;"
                style="background-color: transparent"
                (mouseup)="open($event,slidingItem)"
                #slidingItem
              >
                <ion-item style="background-color: rgba(255, 255, 255, 0.76)">
                {{m.Id}}. {{m.Name}}
                </ion-item>

                <ion-item-options side="right">
                  <button
                    [disabled]="!api.adminMode"
                    style="min-width: 60px"
                    ion-button
                    color="danger"
                    (mouseup)="popupDelete($event,'Round',m.Id)"
                  >
                    <ion-icon name="trash"></ion-icon>
                    {{param.datatext.delete}}
                  </button>
                  <button
                    ion-button
                    style="min-width: 60px"
                    color="primary"
                    (mouseup)="goCopyRound($event,index)"
                  >
                    <ion-icon name="copy"></ion-icon>
                    {{param.datatext.copy}}
                  </button>
                  <button
                    ion-button
                    style="min-width: 60px"
                    color="secondary"
                    (mouseup)="goEditRound($event,index)"
                  >
                    <ion-icon name="create"></ion-icon>
                    {{param.datatext.edit}}
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list></ion-content
          >
        </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>
