//home page style sheet
page-rounddisplay {
  ion-content > div.scroll-content {
    overflow: hidden;
  }
  .scroll > div.scroll-content {
    overflow: auto;
  }
  .video{
    flex-grow : 1;
   margin: 0px !important;
   vertical-align: middle !important;
   height: 100%;
   width: 100%;
   height: 99%;
   width: auto;
   max-width: 95%;
   position: absolute; /* postulat de départ */
   top: 50%; left: 50%; /* à 50%/50% du parent référent */
   transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  
}
 
.btnsmap{
  position: absolute;
  bottom:0px;
  left: 0px;
  //width: 100%;

}
  .item {
    margin: 5px auto;
    border-radius: 15px;
    font-size: large;
  }
  
  .rowcanvas{
    position: absolute;
    bottom:50px;
    top:0px;
    width: 100%;

  }


  .heightstyle {
    width: 100%;
    height: 100%;
  }
  .heightstyle10 {
    width: 100%;
    height: 68px;
  
  }
  .heightstyle20 {
    width: 100%;
    height: 20%;
  }

  .heightstyle90 {
    width: 100%;
    position: absolute;
    top:70px;
    bottom: 0px;
    right: 0px;
  }
  .btnmap {
    width: 100%;
    height: 3em;
  }
  .btnadd {
    width: 100%;
    height: 100%;
  }
  .div_btn_map {
    flex-grow: 1;
    width: 90%;
    height: 70%;
    //margin: 0px !important;
  }
  .btn_map {
    //margin: 0px !important;
    min-height: 100%;
    min-width: 100%;
    border-radius: 15px;
  }
}
