<!-- mail page html template -->
<ion-header no-border>
  <headpage pageName="roundcreation"></headpage>
</ion-header>

<ion-content id="body3">

  <ion-grid class="heightstyle">
    <ion-row class="heightstyle10" id="firstrow3">
      <ion-col col-5>
        <ion-item>
          <ion-label fixed>{{param.datatext.name}}</ion-label>
          <ion-input type="text" [(ngModel)]="nameRound"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3></ion-col>
      <ion-col col-2 style="background-color: rgb(182, 217, 230)">
        <button style="
              width: 100%;
              color: rgb(26, 156, 195);
              text-decoration: underline;
              font-size: x-large;
            " ion-button clear class="heightstyle" (mouseup)="cancelCreation($event)">
          {{param.datatext.btn_cancel}}
        </button>
      </ion-col>
      <ion-col col-2 style="background-color: rgb(182, 217, 230)">
        <button [disabled]="this.nameRound.length ==0 || !(this.api.roundpoi_list.length>1)" class="heightstyle"
          ion-button (mouseup)="createRound($event)" style="width: 100%; font-size: x-large">
          {{param.datatext.btn_save}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="heightstyle90">
      <ion-col col-8 id="testcol3" class="heightstyle">
        <ion-segment class="rowsegment" id="test" [(ngModel)]="creation">
          <ion-segment-button value="carte" style="font-size: x-large">
            {{param.datatext.map}}
          </ion-segment-button>
          <ion-segment-button value="poi" style="font-size: x-large">
            {{param.datatext.addPOIfunction}}
          </ion-segment-button>
        </ion-segment>

        <ion-row *ngIf="creation==='poi'" class="rowoptions">
          <ion-row class="optrow">
            <ion-col col-6>
              <ion-item style="height: 100%">
                <ion-label>{{param.datatext.POIselected}}</ion-label>
                <ion-select #select1 interface="popover" [(ngModel)]="poi_added" okText="{{this.param.datatext.btn_ok}}"
                  cancelText="{{this.param.datatext.btn_cancel}}" (ionChange)="onPOIChange($event)"
                  (mouseup)="onSliderRelease($event,select1)">
                  <ion-option *ngFor="let m of this.api.all_locations" value="{{m.Id}}">{{m.Id}}.
                    {{m.Name}}</ion-option>
                </ion-select>
              </ion-item>

            </ion-col>
            <ion-col col-6>
              <ion-item style="height: 100%">
                <ion-label>{{param.datatext.breakOption}}</ion-label>
                <ion-input type="number" min="0" max="1000000" step="10" placeholder="0"
                  [(ngModel)]="poiWait"></ion-input>
              </ion-item>

            </ion-col>
          </ion-row>


          <ion-row class="optrow">
            <ion-col col-7>
              <ion-item style="height: 100%">
                <ion-label>{{param.datatext.speedOption}}</ion-label>
                <ion-input type="number" min="1" max="100" step="5" placeholder="80" [(ngModel)]="poiSpeed"></ion-input>
              </ion-item></ion-col>
            <ion-col col-5>
              <ion-item style="height: 100%"><ion-label> Vmax = 50 cm/s </ion-label></ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="optrow">
            <ion-item [hidden]="!api.soptiondesinfection">
              <ion-label>{{param.datatext.directionOption}}</ion-label>
              <ion-select #select2 interface="popover" okText="{{this.param.datatext.btn_ok}}"
                cancelText="{{this.param.datatext.btn_cancel}}" (ionChange)="onWayChange($event)" [(ngModel)]="poiWay"
                (mouseup)="onSliderRelease($event,select2)">
                <ion-option selected value="1">{{param.datatext.frontOption}}</ion-option>
                <ion-option value="-1">{{param.datatext.backOption}}</ion-option>
              </ion-select></ion-item>
            <ion-col col-6>
              <ion-item style="height: 100%">
                <ion-label>{{param.datatext.avoidanceOption}}</ion-label>
                <ion-toggle [checked]="!this.poiDisableAvoidance" (ionChange)="onToggleChange()"></ion-toggle>
              </ion-item>

            </ion-col>
            <ion-col col-6>
              <ion-item style="height: 100%">
                <ion-label>{{param.datatext.gabarit}}</ion-label>
                <ion-select #select3 [(ngModel)]="poiAnticollisionProfile" interface="popover"
                  okText="{{this.param.datatext.btn_ok}}" cancelText="{{this.param.datatext.btn_cancel}}"
                  (ionChange)="onGabaritChange()" (mouseup)="onSliderRelease($event,select3)">
                  <ion-option *ngFor="let m of [0,1,2,3,4]" value="{{m}}">{{m}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>



          <ion-item [hidden]="!api.soptiondesinfection">
            <ion-label>{{param.datatext.options}}</ion-label>
            <ion-select #select4 interface="popover" okText="{{this.param.datatext.btn_ok}}"
              cancelText="{{this.param.datatext.btn_cancel}}" (ionChange)="onOptionChange($event)" [(ngModel)]="poiData"
              (mouseup)="onSliderRelease($event,select4)">
              <ion-option selected value="none">{{param.datatext.none}}</ion-option>
              <ion-option value="lampon">{{param.datatext.lampon}}</ion-option>
              <ion-option value="lampoff">{{param.datatext.lampoff}}</ion-option>
              <ion-option value="lampoff+">{{param.datatext.lampoff1}}</ion-option>
            </ion-select>
          </ion-item>

        </ion-row>
        <ion-row *ngIf="creation==='poi'" class="btnsmap">
          <ion-buttons class="div_btn_map">
            <button [disabled]="!poi_added" [hidden]="newpoi || editpoi || gopoi || api.towardPOI || newmap || editmap"
              (mouseup)="addPOIRound($event)" ion-button class="btnadd" *ngIf="api.id_current_map!=undefined">
              <ion-icon style="font-size: 3vw" name="add"></ion-icon></button></ion-buttons>
        </ion-row>
        <ion-row [hidden]="creation==='poi'" class="rowcanvas">
          <canvas #canvas3 style="
                background-color: rgba(0, 0, 0, 0.904);
               
              " (wheel)="on_wheel($event);" (mouseup)="on_mouse_up($event);" (mousedown)="on_mouse_down($event);"
            (mousemove)="on_mouse_move($event);"></canvas>
          <img id="imgmap3" #imgmap3 src={{map_url}} crossorigin="anonymous" class="video" style="display:none;" />
        </ion-row><ion-row style="background-color: rgba(0, 0, 0, 0.904)" [hidden]="creation==='poi'" class="btnsmap">
          <ion-col col-6>
            <button class="btnmap" (mouseup)="on_zoom_out($event)" ion-button>
              <ion-icon name="search"></ion-icon> -
            </button> </ion-col><ion-col col-6>
            <button ion-button (mouseup)="on_zoom_in($event)" class="btnmap">
              <ion-icon name="search"></ion-icon> +
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-4 style="background-color: rgb(182, 217, 230)">
        <ion-label style="font-size: x-large">{{param.datatext.POI_list}}</ion-label>

        <ion-content #content1 class="scroll" style="height: 90%; width: 100%; background-color: rgb(182, 217, 230)">
          <ion-list style="background-color: transparent" reorder="true" (ionItemReorder)="reorderItems($event)">
            <ion-item-sliding (mouseup)="open($event,slidingItem)" #slidingItem style="background-color: transparent"
              *ngFor="let m of this.api.roundpoi_list; let index = index;">
              <ion-item style="background-color: rgba(255, 255, 255, 0.76)">
                <h2>{{m.location.id}}. {{m.name}}</h2>
                <p>
                  {{param.datatext.break}}{{m.wait}},
                  {{param.datatext.speed}}{{m.speed*100}}
                </p>
                <p>
                  {{param.datatext.avoidanceOption}}{{!m.disableAvoidance}},
                  {{param.datatext.option}}{{m.data}}
                </p>
                <p>
                  {{param.datatext.gabarit}}:{{m.anticollisionProfile}}
                </p>
              </ion-item>
              <ion-item-options side="right">
                <button ion-button color="danger" (mouseup)="deletePOI($event,index)">
                  <ion-icon name="trash"></ion-icon>
                  {{param.datatext.delete}}
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-content>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>