//mail page style sheet
page-roundcreation {
  ion-content > div.scroll-content {
    overflow: hidden;
  }
  .scroll > div.scroll-content {
    overflow: auto;
  }
  
  .btnmap {
    width: 100%;
    height: 3em;
  }
  .video{
    flex-grow : 1;
   margin: 0px !important;
   vertical-align: middle !important;
   height: 100%;
   width: 100%;
   height: 99%;
   width: auto;
   max-width: 95%;
   position: absolute; /* postulat de départ */
   top: 50%; left: 50%; /* à 50%/50% du parent référent */
   transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  
}
.div_btn_map {
  position:absolute;
  //flex-grow: 1;
  width: 99%;


  //margin: 0px !important;
  bottom: 0px;
  
 
}
.btnsmap{
  position: absolute;
  bottom:0px;
  
  left: 0px;
  width: 100%;

}
.rowsegment{
  //background-color: rgba(26, 156, 195, 0.199);
}
.optrow{
  left:0px;
  width: 100%;
 
}
#testcol3{
  background-color: rgba(26, 156, 195, 0.199);
}
// .optaddpoi{
//   height: 40px;
//   margin: 0px;
//   background-color: aqua;
// }
  .heightstyle {
    width: 100%;
    height: 100%;
   
  }
  .heightstyle10 {
      //width: 100%;
      height: 68px;
      position: absolute;
      left:0px;
      right: 5px;
      background-color: rgba(26, 156, 195, 0.199);
  }
  .heightstyle20 {
    width: 100%;
    height: 20%;
  }
  .rowcanvas{
    position: absolute;
    bottom:50px;
    top:50px;
    //right: 5px;
    width: 100%;
 
    //background-color: rgba(26, 156, 195, 0.199);
  }

  .rowoptions{
    position: absolute;
    bottom:60px;
    top:50px;
    //right: 5px;
    width: 100%;
 
    //background-color: rgba(26, 156, 195, 0.199);

  }

  .heightstyle90 {
    width: 100%;
    position: absolute;
    top:70px;
    bottom: 0px;
    right: 0px;
  }
  .heightstyle80 {
    width: 100%;
    height: 80%;
  }

  .btnadd {
    width: 100%;
    height: 50px;
  }

  .item {
    margin: 5px auto;
    border-radius: 15px;
    font-size: large;
  }
}
