//home page style sheet
page-roundedit {
  ion-content > div.scroll-content {
    overflow: hidden;
  }

   
  .rowcanvas{
    position: absolute;
    bottom:50px;
    top:0px;
    width: 100%;

  }
   
.btnsmap{
  position: absolute;
  bottom:0px;
  
  //left: 0px;
  //width: 100%;

}
 
  .btnmap {
    width: 100%;
    //height: 3em;
  }
  .video{
    flex-grow : 1;
   margin: 0px !important;
   vertical-align: middle !important;
   height: 100%;
   width: 100%;
   height: 99%;
   width: auto;
   max-width: 95%;
   position: absolute; /* postulat de départ */
   top: 50%; left: 50%; /* à 50%/50% du parent référent */
   transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  
}
  .item {
    margin: 5px auto;
    border-radius: 15px;
    font-size: large;
  }

  .heightstyle {
    width: 100%;
    height: 100%;
    background-color: rgba(26, 156, 195, 0.199);
  }
  .heightstyle10 {
    //width: 100%;
    height: 68px;
    position: absolute;
    top:0px;
    left:0px;
    right: 5px;
  }

  .btnedit{
    height: 80%;
    width: 98%;
  }
  

  .heightstyle90 {
    width: 100%;
    //height: 80%;
    position: absolute;
    bottom: 0px;
    top:70px;
    right: 5px;
  }
  .div_btn_map {
    //flex-grow: 1;
    width: 100%;
    height: 60px;
    right: 0px;
    left: 1px;
    //margin: 0px !important;
    bottom: 0px;
    position:absolute;
   
  }
  .icon_style {
    font-size: 3vw;
  }
  .btn_map {
    //margin: 0px !important;
    min-height: 100%;
    min-width: 100%;
    border-radius: 15px;
  }

  .poilist{
    position: absolute;
    bottom: 70px;
    top:0px;
    width: 97%;
    //background-color: azure;
    
  }

}
