<!-- mail page html template -->
<ion-header no-border>
  <headpage pageName="roundedit"></headpage>
</ion-header>

<ion-content id="body2">

    <ion-grid class="heightstyle">
      <ion-row id="firstrow2" class="heightstyle10">
        <ion-col col-5>
          <ion-item>
            <ion-label
              >{{param.datatext.map}} : {{api.name_current_map}}</ion-label
            >
          </ion-item>
        </ion-col>
        <ion-col col-3></ion-col>
        <ion-col col-4 style="background-color: rgb(182, 217, 230)">
          <ion-item style="background-color: transparent">
            <ion-label>
              <h1 style="font-size: x-large">
                {{param.datatext.POI_edit}} {{api.copy_round.Name}}
              </h1>
            </ion-label></ion-item
          ></ion-col
        >
      </ion-row>
      <ion-row class="heightstyle90">
        <ion-col
          col-8
          id="testcol2"
          style="background-color: rgba(0, 0, 0, 0.904)"
          class="heightstyle"
        >
          <ion-row class="rowcanvas">
            <canvas
              #canvas2
              
              (wheel)="on_wheel($event);"
             
              (mouseup)="on_mouse_up($event);"
              (mousedown)="on_mouse_down($event);"
              (mousemove)="on_mouse_move($event);"
            ></canvas>
            <img id="imgmap2" #imgmap2 src={{map_url}} crossorigin="anonymous" class="video" style="display:none;" />
            </ion-row
          ><ion-row class="btnsmap">
            <ion-col col-6>
              <button class="btnmap" (mouseup)="on_zoom_out($event)" ion-button>
                <ion-icon name="search"></ion-icon> -
              </button> </ion-col
            ><ion-col col-6>
              <button ion-button (mouseup)="on_zoom_in($event)" class="btnmap">
                <ion-icon name="search"></ion-icon> +
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-4 style="background-color: rgb(182, 217, 230)">
          <ion-scroll scrollY="true" class="poilist">
            <ion-list
              *ngFor="let m of this.api.roundpoi_list; let index = index;"
            >
              <ion-item style="background-color: rgba(255, 255, 255, 0.76)">
                <h2>{{m.location.id}}. {{m.name}}</h2>
                <p>
                  {{param.datatext.break}}{{m.wait}},
                  {{param.datatext.speed}}{{m.speed*100}}
                </p>
                <p>
                  {{param.datatext.avoidanceOption}}{{!m.disableAvoidance}},
                  {{param.datatext.option}}{{m.data}},{{param.datatext.gabarit}}:{{m.anticollisionProfile}}
                </p>
                <p>
                  {{param.datatext.gabarit}}:{{m.anticollisionProfile}}
                </p>
              </ion-item>
            </ion-list>
          </ion-scroll>
          <ion-buttons class="div_btn_map">
            <button
              [disabled]="!api.adminMode"
              ion-button
              color="secondary"
              class="btnedit"
              (mouseup)="goEditRound($event)"
            >
              <ion-icon class="icon_style" name="create"></ion-icon></button
          ></ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
