page-first {
    ion-content > div.scroll-content {
        overflow: hidden;
    }

    .big_card{
        background-size: cover;
        background-image: url("../assets/imgs/first.jpg");
        height:100%;
        border-radius: 15px;
        
    }
    
    .heightstyle{
        height: 100%;
        
    }

    .div_item{
        width: 100%;
        align-items: center;
        margin-bottom: 0px;
    }
    
    .scroll-content{
        justify-content: center;
        display: flex!important;
        align-items: center!important;
    }
    
    
    
}
