//home page style sheet
page-poi {
  ion-content > div.scroll-content {
    overflow: hidden;
    //background-color: aqua;
    //margin: 0px !important;
  }
  .scroll > div.scroll-content {
    overflow-y: auto;
  }

  .btnmap {
    width: 100%;
    //height: 3em;
  }

  .newpoistyle {
    //border: 2px solid #aeb7ca;
    height: 50%;
    width: 100%;
  }

  .heightstyle {
    height: 100%;
    width: 100%;
    background-color: rgba(26, 156, 195, 0.199);
  }

  .item {
    margin: 5px auto;
    border-radius: 15px;
    font-size: large;
  }

  .btnadd {
    width: 100%;
    height: 100%;
  }

  .btnchangepage {
    width: 100%;
    height: 3em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .heightstyle10 {
    //width: 100%;
    height: 68px;
    position: absolute;
    left:0px;
    right: 5px;
  }

  .rowcanvas{
    position: absolute;
    bottom:50px;
    top:0px;
    width: 100%;

  }

  .btnsmap{
    position: absolute;
    bottom:0px;
    
    left: 0px;
    width: 100%;

  }
  .colcanvas{
    position: relative;
    width: 100%;
    height: 100%;
  }

  .lastrow{
    width: 100%;
    height: 68px;
    position:absolute;
    bottom: 0px;
    right: 2px;
  }
  .heightstyle20 {
    width: 100%;
    height: 20%;
  }

  .heightstyle80 {
    width: 100%;
    //height: 80%;
    position: absolute;
    bottom: 68px;
    top:70px;
    right: 5px;
  }

  .heightstyle90 {
    width: 100%;
    height: 90%;
  }

  .div_btn_go {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin: 0px !important;
  }
  .legende {
    font-size: 3vw;
    text-align: center;
    height: 100%;
    color: white;
  }

  .icon_style {
    font-size: 10vw;
  }
  .btn_go {
    margin: 0px !important;
    min-height: 100%;
    min-width: 100%;
    border-radius: 15px;
  }

  .div_btn_map {
    flex-grow: 1;
    width: 90%;
    height: 70%;
    //margin: 0px !important;
  }
  .btn_map {
    //margin: 0px !important;
    min-height: 100%;
    min-width: 100%;
    border-radius: 15px;
  }
  .video{
    flex-grow : 1;
   margin: 0px !important;
   vertical-align: middle !important;
   height: 100%;
   width: 100%;
   height: 99%;
   width: auto;
   max-width: 95%;
   position: absolute; /* postulat de départ */
   top: 50%; left: 50%; /* à 50%/50% du parent référent */
   transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  
}
}
