<!-- home page html template -->

<ion-header no-border>
  <headpage pageName="poi"></headpage>
</ion-header>

<ion-content id="body4">
  
    <ion-grid class="heightstyle">
      <ion-row class="heightstyle10" id="firstrow4">
        <ion-col col-4>
          <ion-list>
            <ion-item>
              <ion-label>{{this.param.datatext.maps}} : </ion-label>
              <ion-select #select1
                interface="popover"
                [disabled]="newpoi || editpoi || gopoi || newmap || editmap"
                [(ngModel)]="api.current_map"
                okText="{{this.param.datatext.btn_ok}}"
                cancelText="{{this.param.datatext.btn_cancel}}"
                (ionChange)="onMapChange($event)"
                (mouseup)="onSliderRelease($event,select1)"
              >
                <ion-option *ngFor="let m of this.api.all_maps" value="{{m.Id}}"
                  >{{m.Id}}. {{m.Name}}</ion-option
                >
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col col-1>
          <ion-buttons class="div_btn_map">
            <button
              [disabled]="newpoi || editpoi || gopoi || newmap || !api.adminMode"
              *ngIf="api.id_current_map!=undefined"
              (mouseup)="popupDelete($event,'Map',1)"
              ion-button
              color="danger"
              class="btn_map"
            >
              <ion-icon style="font-size: 3vw" name="trash"></ion-icon></button
          ></ion-buttons>
        </ion-col>
        <ion-col col-1>
          <ion-buttons class="div_btn_map">
            <button
              [disabled]="newpoi || editpoi || gopoi || newmap || editmap || !api.adminMode"
              *ngIf="api.id_current_map!=undefined"
              ion-button
              color="secondary"
              (mouseup)=" onClickEditMap($event)"
              class="btn_map"
            >
              <ion-icon style="font-size: 3vw" name="create"></ion-icon></button
          ></ion-buttons>
        </ion-col>
        <ion-col col-1>
          <ion-buttons class="div_btn_map">
            <button
              [disabled]="newpoi || editpoi || gopoi || newmap || qrdetection"
              (mouseup)="scan($event)"
              ion-button
              color="warning"
              class="btn_map"
            >
              <ion-icon style="font-size: 3vw" name="qr-scanner"></ion-icon></button
          ></ion-buttons>
        </ion-col>
        <ion-col col-1>
          <ion-buttons class="div_btn_map">
            <button
              [disabled]="newpoi || editpoi || gopoi || newmap || editmap"
              ion-button
              (mouseup)="onClickNewMap($event)"
              class="btn_map"
            >
              <ion-icon style="font-size: 3vw" name="add"></ion-icon></button
          ></ion-buttons>
        </ion-col>

        <ion-col col-3 style="background-color: rgb(182, 217, 230)">
          <ion-item style="background-color: transparent">
            <ion-label>
              <h1
                style="font-size: x-large"
                [hidden]="newpoi || editpoi || gopoi || newmap || api.towardPOI || editmap"
              >
                {{param.datatext.POI}}
              </h1>
              <h1 style="font-size: x-large" [hidden]="!newpoi">
                {{param.datatext.addPOI}}
              </h1>
              <h1 style="font-size: x-large" [hidden]="!editpoi">
                {{param.datatext.editPOI}}
              </h1>
              <h1 style="font-size: x-large" [hidden]="!newmap">
                {{param.datatext.addMap}}
              </h1>
              <h1 style="font-size: x-large" [hidden]="!editmap">
                {{param.datatext.editMap}}
              </h1>
              <h1 style="font-size: x-large" [hidden]="!gopoi">
                {{param.datatext.goToPOI}}
              </h1>
            </ion-label></ion-item
          >
        </ion-col>
        <ion-col col-1 style="background-color: rgb(182, 217, 230)">
          <ion-buttons class="div_btn_map">
            <button
              [hidden]="newpoi || editpoi || gopoi || api.towardPOI || newmap || editmap"
              (mouseup)="onClickNewPOI($event)"
              ion-button
              class="btn_map"
              *ngIf="api.id_current_map!=undefined"
            >
              <ion-icon style="font-size: 3vw" name="add"></ion-icon></button
          ></ion-buttons>
        </ion-col>
      </ion-row>
      <ion-row class="heightstyle80">
        <ion-col
          style="background-color: rgba(0, 0, 0, 0.904)"
          col-8
          class="colcanvas"
        >
          <ion-row class="rowcanvas">
            <ion-col col-12 id="testcol4" class="heightstyle">
              <canvas
                #canvas4
                [hidden]="qrdetection"
                (wheel)="on_wheel($event);"
                (mouseup)="on_mouse_up($event);"
                (mousedown)="on_mouse_down($event);"
                (mousemove)="on_mouse_move($event);"
              ></canvas
            >
            
            <canvas #videoCanvas style="display: none;"></canvas> 
            <img  [hidden]="!qrdetection || param.robot.cam_USB == 1" class="video" id="imgcompressed" />
           
            <img id="imgmap4" #imgmap4 src={{map_url}} crossorigin="anonymous"  style="display:none;" />
            <video  [hidden]="!qrdetection || param.robot.cam_USB == 0" #video autoplay class="video"></video>
          </ion-col>
          </ion-row>
          <ion-row class="btnsmap" [hidden]="qrdetection">
            <ion-col col-2>
              <button class="btnmap" (mouseup)="on_zoom_out($event)" ion-button>
                <ion-icon name="search"></ion-icon> -
              </button> </ion-col
            ><ion-col col-2>
              <button ion-button (mouseup)="on_zoom_in($event)" class="btnmap">
                <ion-icon name="search"></ion-icon> +
              </button>
            </ion-col>
            <ion-col col-2>
              <button (mouseup)="on_click_goToPose($event)" ion-button class="btnmap">
                {{param.datatext.btn_go}}
              </button>
            </ion-col>
            <ion-col col-2>
              <button
                [hidden]="reloc"
                ion-button
                class="btnmap"
                (mouseup)="on_click_relocate($event)"
              >
                {{param.datatext.reloc}}
              </button>
              <button
                [hidden]="!reloc"
                ion-button
                color="secondary"
                class="btnmap"
                (mouseup)="on_click_relocate($event)"
              >
                {{param.datatext.confirm}}
              </button>
            </ion-col>
            <ion-col col-2>
              <button
                [disabled]="!reloc"
                class="btnmap"
                (mouseup)="on_click_relocate_left($event)"
                ion-button
              >
                <ion-icon name="undo"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-2>
              <button
                [disabled]="!reloc"
                ion-button
                (mouseup)="on_click_relocate_right($event)"
                class="btnmap"
              >
                <ion-icon name="redo"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col
          col-4
          class="heightstyle"
          style="background-color: rgb(182, 217, 230)"
        >
          <ion-content
            [hidden]="newpoi || editpoi || gopoi || api.towardPOI || newmap || editmap"
            style="height: 100%; width: 100%; background-color: rgb(182, 217, 230);"
            class="scroll"
            #content1
          >
            <ion-list style="background-color: transparent">
              <ion-item-sliding
                style="background-color: transparent"
                (mouseup)="open($event,slidingItem)"
                #slidingItem
                *ngFor="let m of this.api.all_locations; let index = index;"
              >
                <ion-item
                  #item
                  *ngIf="m.Label!=='qr'"
                  style="background-color: rgba(255, 255, 255, 0.76)"
                >
                  {{m.Id}}. {{m.Name}}
                </ion-item>
                <ion-item-options side="right">
                  <button
                    [disabled]="!api.adminMode"
                    ion-button
                    (mouseup)="popupDelete($event,'POI',m.Id)"
                    style="min-width: 60px"
                    color="danger"
                  >
                    <ion-icon name="trash"></ion-icon>
                    {{param.datatext.delete}}
                  </button>

                  <button
                    [disabled]="!api.adminMode"
                    style="min-width: 60px"
                    (mouseup)="onClickEditPOI($event,m.Name,m.Label,m.Id)"
                    ion-button
                    color="secondary"
                  >
                    <ion-icon name="create"></ion-icon>
                    {{param.datatext.edit}}
                  </button>
                   <button
                    style="min-width: 60px"
                    (mouseup)="onClickGoPOI($event,m.Id,m.Name,m.Pose)"
                    ion-button
                    color="primary"
                  >
                    <ion-icon name="navigate"></ion-icon>
                    {{param.datatext.btn_go}}
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list></ion-content
          >

          <div [hidden]="!newpoi || api.towardPOI" class="newpoistyle">
            <ion-item>
              <ion-label text-wrap>{{param.datatext.POIname}}</ion-label>
              <ion-input type="text" [(ngModel)]="namepoi"></ion-input>
            </ion-item>
              <ion-item [hidden]="!api.slabel" >
              <ion-label>Label : </ion-label>
              <ion-select slot="end" okText="{{this.param.datatext.btn_ok}}"
              cancelText="{{this.param.datatext.btn_cancel}}" [selectOptions]="selectLabel" class="myCustomSelect"
              placeholder="Label" [(ngModel)]="SelectLabel"
              (ionChange)="onLabelChange()" >
              <ion-option value="none">none</ion-option>
              <ion-option value="waypoint">waypoint</ion-option>
              <ion-option value="lift_departure:1">lift_departure:1</ion-option>
              <ion-option value="lift_arrival:1">lift_arrival:1</ion-option>
              <ion-option value="lift_entry:1">lift_entry:1</ion-option>
              <ion-option value="docking">docking</ion-option>
            
            </ion-select>
            </ion-item>

            <h2
              text-wrap
              style="
                color: rgb(26, 156, 195);
                margin-bottom: 30px;
                margin-top: 30px;
                text-align: left;
              "
            >
              {{param.datatext.indicationAddPOI}}
            </h2>

            <ion-row>
              <ion-col> </ion-col>
              <ion-col>
                <button
                  (mouseup)="cancelpoi($event)"
                  style="
                    width: 100%;
                    color: rgb(26, 156, 195);
                    text-decoration: underline;
                    font-size: x-large;
                  "
                  ion-button
                  clear
                >
                  <div>{{param.datatext.btn_cancel}}</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <button
                  [disabled]="namepoi===''"
                  (mouseup)="createpoi($event)"
                  ion-button
                  style="width: 100%; font-size: x-large"
                >
                  {{param.datatext.btn_save}}
                </button>
              </ion-col>
            </ion-row>
          </div>

          <div [hidden]="!newmap || api.towardPOI" class="newpoistyle">
            <form id="update_form" enctype="multipart/form-data">
              <ion-item>
                <ion-label text-wrap>{{param.datatext.mapName}}</ion-label>
                <ion-input
                  type="text"
                  [(ngModel)]="namemap"
                  name="name"
                  required
                ></ion-input>
              </ion-item>
              <ion-row>
                <ion-col col-7>
                  <input type="file" accept="image/png" id="mapBrowserFileInput" (change)="openfile($event)" style="display: none" />
                  <button
                    (mouseup)="openfileBrowser($event)"
                    style="
                      width: 100%;
                      height: 100%;
                      font-size: large;
                      background-color: gray;
                    "
                    ion-button
                  >
                    <div>{{param.datatext.map_selection}}</div>
                  </button>
                  
                </ion-col>
                <ion-col col-5>
                  <ion-item style="height: 100%"
                    ><ion-label [hidden]="filen" style="font-size: small">
                      {{param.datatext.nofile}}
                    </ion-label>
                    <ion-label [hidden]="!filen" style="font-size: small">
                      {{param.datatext.map_loaded}}
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

            

              <h2
                *ngIf="!api.mapok"
                text-wrap
                style="
                  color: rgb(195, 26, 26);
                  margin-bottom: 40px;
                  margin-top: 40px;
                  text-align: left;
                "
              >
                {{param.datatext.colorIndication}}
              </h2>

              <ion-row>
                <ion-col> </ion-col>
                <ion-col> </ion-col>
                <ion-col> </ion-col>
              </ion-row>

              <ion-row>
                <ion-col> </ion-col>
                <ion-col>
                  <button
                    (mouseup)="cancelmap($event)"
                    style="
                      width: 100%;
                      color: rgb(26, 156, 195);
                      text-decoration: underline;
                      font-size: x-large;
                    "
                    ion-button
                    clear
                  >
                    <div>{{param.datatext.btn_cancel}}</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <button
                    [disabled]="!loadimg || namemap===''"
                    (mouseup)="addMap($event)"
                    ion-button
                    style="width: 100%; font-size: x-large"
                  >
                    {{param.datatext.btn_save}}
                  </button>
                </ion-col>
              </ion-row>
            </form>
          </div>

          <div [hidden]="!editmap || api.towardPOI" class="newpoistyle">
            <form id="update_formul" enctype="multipart/form-data">
              <ion-item>
                <ion-label text-wrap>{{param.datatext.mapName}}</ion-label>
                <ion-input
                  type="text"
                  [(ngModel)]="nameeditmap"
                  name="name"
                ></ion-input>
              </ion-item>

              <ion-row>
                <ion-col col-7>
                  <button
                    (mouseup)="openfileBrowser($event)"
                    style="
                      width: 100%;
                      height: 100%;
                      font-size: large;
                      background-color: gray;
                    "
                    ion-button
                  >
                    <div>{{param.datatext.map_selection}}</div>
                  </button>
                  
                </ion-col>
                <ion-col col-5>
                  <ion-item style="height: 100%"
                    ><ion-label [hidden]="filen" style="font-size: small">
                      {{param.datatext.nofile}}
                    </ion-label>
                    <ion-label [hidden]="!filen" style="font-size: small">
                      {{param.datatext.map_loaded}}
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <h2
                *ngIf="!api.mapok"
                text-wrap
                style="
                  color: rgb(195, 26, 26);
                  margin-bottom: 40px;
                  margin-top: 40px;
                  text-align: left;
                "
              >
                {{param.datatext.colorIndication}}
              </h2>
              <ion-row>
                <ion-col> </ion-col>
                <ion-col> </ion-col>
                <ion-col> </ion-col>
              </ion-row>

              <ion-row>
                <ion-col> </ion-col>
                <ion-col>
                  <button
                    (mouseup)="cancelmap($event)"
                    style="
                      width: 100%;
                      color: rgb(26, 156, 195);
                      text-decoration: underline;
                      font-size: x-large;
                    "
                    ion-button
                    clear
                  >
                    <div>{{param.datatext.btn_cancel}}</div>
                  </button>
                </ion-col>
                <ion-col align-self-center text-center>
                  <button
                    [disabled]="nameeditmap===''"
                    (mouseup)="editMap($event)"
                    ion-button
                    style="width: 100%; font-size: x-large"
                  >
                    {{param.datatext.btn_save}}
                  </button>
                </ion-col>
              </ion-row>
            </form>
          </div>

          <div [hidden]="!editpoi || api.towardPOI" class="newpoistyle">
            <ion-item>
              <ion-label text-wrap>{{param.datatext.POIname}}</ion-label>
              <ion-input type="text" [(ngModel)]="editnamepoi"></ion-input>
            </ion-item>


            <ion-item [hidden]="!api.slabel" >
              <ion-label>Label : </ion-label>
              <ion-select slot="end" okText="{{this.param.datatext.btn_ok}}"
              cancelText="{{this.param.datatext.btn_cancel}}" [selectOptions]="selectLabel" class="myCustomSelect"
              placeholder="Label" [(ngModel)]="SelectLabel"
              (ionChange)="onLabelChange()" >
              <ion-option value="none">none</ion-option>
              <ion-option value="waypoint">waypoint</ion-option>
              <ion-option value="lift_departure:1">lift_departure:1</ion-option>
              <ion-option value="lift_arrival:1">lift_arrival:1</ion-option>
              <ion-option value="lift_entry:1">lift_entry:1</ion-option>
              <ion-option value="docking">docking</ion-option>
            
            </ion-select>
            </ion-item>
            
            <ion-item>
              <ion-label>{{param.datatext.relocate}}</ion-label>
              <ion-checkbox
                [(ngModel)]="resetposition"
                color="primary"
                (mouseup)="isChecked = !isChecked"
                [checked]="isChecked"
              ></ion-checkbox>
            </ion-item>
            <h2
              [hidden]="!resetposition"
              text-wrap
              style="
                color: rgb(26, 156, 195);
                margin-bottom: 50px;
                margin-top: 50px;
                text-align: left;
              "
            >
              {{param.datatext.indicationAddPOI}}
            </h2>

            <ion-row>
              <ion-col> </ion-col>
              <ion-col>
                <button
                  (mouseup)="canceleditpoi($event)"
                  style="
                    width: 100%;
                    color: rgb(26, 156, 195);
                    text-decoration: underline;
                    font-size: x-large;
                  "
                  ion-button
                  clear
                >
                  <div>{{param.datatext.btn_cancel}}</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <button
                  [disabled]="editnamepoi===''"
                  (mouseup)="editPoi($event)"
                  ion-button
                  style="width: 100%; font-size: x-large"
                >
                  {{param.datatext.btn_save}}
                </button>
              </ion-col>
            </ion-row>
          </div>

          <div [hidden]="!gopoi || api.towardPOI" class="newpoistyle">
            <h1 text-wrap>{{namepoi}}</h1>
            <ion-row>
              <ion-col col-7>
                <ion-item style="height: 100%">
                  <ion-label>{{param.datatext.speedOption}}</ion-label>
                  <ion-input
                    type="number"
                    min="1"
                    max="100"
                    step="5"
                    [(ngModel)]="speed"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-5>
                <ion-item style="height: 100%"
                  ><ion-label style="font-size: small">
                    Vmax = 50 cm/s
                  </ion-label></ion-item
                >
              </ion-col>
            </ion-row>
            <ion-item>
              <ion-label>{{param.datatext.directionOption}}</ion-label>
              <ion-select #select2
                interface="popover"
                [(ngModel)]="waygo"
                okText="{{this.param.datatext.btn_ok}}"
                cancelText="{{this.param.datatext.btn_cancel}}"
                (mouseup)="onSliderRelease($event,select2)"
              >
                <ion-option value="1"
                  >{{param.datatext.frontOption}}</ion-option
                >
                <ion-option value="-1"
                  >{{param.datatext.backOption}}</ion-option
                >
              </ion-select>
            </ion-item>
            <ion-item [hidden]="waygo==-1">
              <ion-label>{{param.datatext.avoidanceOption}}</ion-label>
              <ion-toggle [(ngModel)]="avoidance"></ion-toggle>
            </ion-item>

            <ion-row>
              <ion-col> </ion-col>
              <ion-col>
                <button
                  (mouseup)="cancelgopoi($event)"
                  style="
                    width: 100%;
                    color: rgb(26, 156, 195);
                    text-decoration: underline;
                    font-size: x-large;
                  "
                  ion-button
                  clear
                >
                  <div>{{param.datatext.btn_cancel}}</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <button
                  (mouseup)="ReachPoi($event)"
                  ion-button
                  style="width: 100%; font-size: x-large"
                >
                  {{param.datatext.btn_go}}
                </button>
              </ion-col>
            </ion-row>
          </div>

          <ion-buttons class="div_btn_go" [hidden]="!api.towardPOI">
            <button ion-button color="danger" (mouseup)="abort($event)" class="btn_go">
              <ion-icon color="light" name="hand" class="icon_style">
                <p class="legende">{{this.param.datatext.btn_stop}}</p>
              </ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
      <ion-row class="lastrow">
       
        <ion-col col-4 *ngIf="api.elevator">
          <button
            [disabled]="reloc || !api.current_map"
            ion-button
            class="btnchangepage"
            (mouseup)="goLiftPage($event)"
            style="font-size: x-large"
          >
            LIFT
          </button>
        </ion-col>
        <ion-col col-4 *ngIf="!api.elevator">
          <button
            [disabled]="reloc || !api.current_map || !api.adminMode"
            ion-button
            class="btnchangepage"
            (mouseup)="dockingPage($event)"
            style="font-size: x-large"
          >
            DOCKING
          </button>
        </ion-col>

        <ion-col col-4>
          <button
            [disabled]="reloc || !api.current_map"
            ion-button
            class="btnchangepage"
            (mouseup)="roundPage($event)"
            style="font-size: x-large"
          >
            {{param.datatext.rounds}}
          </button>
        </ion-col>
        <ion-col col-4>
          <button
            [disabled]="reloc || !api.current_map"
            class="btnchangepage"
            (mouseup)="qrPage($event)"
            ion-button
            style="font-size: x-large"
          >
            {{param.datatext.qrcodes}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
 
</ion-content>
