<!-- Html component of the HMI header with the Back / Exit button, the time, the sound buttons, microphone, parameters etc ...-->

<ion-navbar hideBackButton>
  <ion-buttons left class="btn_menu_size">
    <button ion-button solid large class="btn_menu" (mouseup)="clicOnMenu($event)">
      <font class="font_menu_size">{{this.textBoutonHeader}}</font>
    </button>
  </ion-buttons>

  <ion-title text-center><font class="hour_size">{{api.hour}}</font></ion-title>

  <ion-buttons right>
    <!-- <button [disabled]="!cabinet_close" *ngIf="param.robot.num_of_cabinet>0" ion-button class="btn_header" (mouseup)="onTouchLocked($event)" >
      <ion-icon name="unlock" class="iconlock"></ion-icon>
    </button> -->
    <button ion-button class="btn_header" (mouseup)="onTouchHelp($event)">
      <img class="imgicon" src="./assets/imgs/help.png" />
    </button>
    <button ion-button class="btn_header" (mouseup)="onTouchParam($event)">
      <img class="imgicon" src="./assets/imgs/parameter.png" />
    </button>
    <!-- <button ion-button disabled class="btn_header"  >
      <img *ngIf="!microon" class="imgicon" src="./assets/imgs/microoff.png"/>
      <img *ngIf="microon" class="imgicon" src="./assets/imgs/microon.png"/>
    </button> -->

    <button ion-button class="btn_header" (mouseup)="onTouchWifi($event)">
      <img
        *ngIf="!api.wifiok"
        class="imginternet"
        src="./assets/imgs/wifioff.png"
      />
      <img
        *ngIf="api.wifiok"
        class="imginternet"
        src="./assets/imgs/wifion.png"
      />
    </button>

    <!-- <button ion-button class="btn_header" (click)="onTouchVolume()">
      <img *ngIf="volumeState === 0" class="imgicon" src="./assets/imgs/volumemute.png"/>
      <img *ngIf="volumeState === 1" class="imgicon" src="./assets/imgs/volumelow.png"/>
      <img *ngIf="volumeState === 2" class="imgicon" src="./assets/imgs/volumehight.png"/>
    </button> -->
    <button ion-button class="btn_header" (mouseup)="onTouchStatus($event)">
      <img
        *ngIf="api.statusRobot===0"
        class="imgwifi"
        src="./assets/imgs/statusgreen.png"
      />
      <img
        *ngIf="api.statusRobot ===1"
        class="imgwifi"
        src="./assets/imgs/statusorange.png"
      />
      <img
        *ngIf="api.statusRobot===2"
        class="imgwifi"
        src="./assets/imgs/statusred.png"
      />
    </button>
    <button ion-button class="btn_header" (mouseup)="onTouchBattery($event)">
      <img
        *ngIf="api.batteryState === 0"
        class="imgbattery"
        src="./assets/imgs/batteryoff.png"
      />
      <img
        *ngIf="api.batteryState === 1"
        class="imgbattery"
        src="./assets/imgs/batterylow.png"
      />
      <img
        *ngIf="api.batteryState === 2"
        class="imgbattery"
        src="./assets/imgs/batterymean.png"
      />
      <img
        *ngIf="api.batteryState === 3"
        class="imgbattery"
        src="./assets/imgs/batteryhight.png"
      />
      <img
        *ngIf="api.batteryState === 4"
        class="imgbattery"
        src="./assets/imgs/batterycharge.png"
      />
    </button>
  </ion-buttons>
</ion-navbar>
<ion-toolbar no-padding>
  <div class="scroll_parent">
    <ion-title class="scroll">
      <font class="scroll_text">{{this.api.textHeadBand}}</font>
    </ion-title>
  </div>
</ion-toolbar>
