// GUI header style sheet
headpage {
  
.btn_menu{
    background-color:rgb(26, 156, 195);
    border-radius: 15px;
    margin-bottom: 0px;
    height:100%;
    width:100%;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4),-1px 2px 20px rgba(255, 255, 255, 0) inset;
}


//small screen
@media (max-width: 730px) {
    .imgicon {
        height:24px;
    }
    .iconlock{
        font-size:29px;
    }
    .imginternet{
        height:20px;
    }
    .imgwifi{
        height:24px;
    }
    .imgbattery{
        height:24px;
        }
    .hour_size{
        font-size:1.0em;
        padding:10px;
        color: rgb(26, 156, 195);
    }
    .font_menu_size{
        font-size:2.0em;
    
    }
    .btn_menu_size{
        max-height:300px;
        max-width:150px;
        height:100%;
        width:100%;
    }
}

// big screen
@media (min-width: 730px) {
    .imgicon {
        height:48px;
        //-webkit-filter: drop-shadow(5px 5px 5px #222);
        
    }
    .iconlock{
        font-size:56px;
    }
    .imginternet{
        height:40px;
    }
    .imgwifi{
        height:48px;
    }
    .hour_size{
        font-size:2.0em;
        color: rgb(26, 156, 195);
        
    }
    .imgbattery{
        height:47px;
        }
    .font_menu_size{
        font-size:2.5em;
        padding:10px;
    }
    .btn_menu_size{
        max-height:300px;
        max-width:250px;
        height:100%;
        width:100%;
    }
}



/*scrolling text*/
.scroll_text{
    color:white;
    font-size:1.8em;
    text-align: center
}

.scroll_parent {
    width: 100%;
    text-align:center;
    background-color:rgb(26, 156, 195);
}



}