<!-- param page html template -->
<ion-header no-border>
  <headpage pageName="param"></headpage>
</ion-header>

<ion-content padding>
  <ion-card text-center class="big_card">
    <ion-grid class="heightstyle">
      <ion-list>
        <!-- <button ion-item class="btnscss" (click)="goParamUV()">
          <ion-icon class="iconscss" name="settings" item-start></ion-icon
          >{{this.param.datatext.uvsettings}}<ion-icon
            class="iconscss"
            name="settings"
            item-end
          ></ion-icon>
        </button> -->
        <button ion-item class="btnscss" (mouseup)="goLangue($event)">
          <ion-icon class="iconscss" name="globe" item-start></ion-icon
          >{{param.datatext.langage}}<ion-icon
            class="iconscss"
            name="globe"
            item-end
          ></ion-icon>
        </button>
        <button ion-item class="btnscss" (mouseup)="goPassword($event)"><ion-icon class="iconscss" name="key" item-start></ion-icon>{{param.datatext.editpswd1}}<ion-icon class="iconscss" name="key" item-end></ion-icon></button>
        <ion-row  ion-item class="adminscss">
          
            <ion-label style="color:black;">{{param.datatext.admin}}</ion-label>>
          
            <ion-toggle
                    [checked]="api.adminMode"
                    (ionChange)="activateAdminMode()"
                    item-end
                ></ion-toggle>
         </ion-row>
        
      </ion-list>
    </ion-grid>
  </ion-card>
</ion-content>
