//docking page style sheet
page-docking {
    ion-content > div.scroll-content {
      overflow: hidden;
    }

.btnsmap{
  position: absolute;
  bottom:0px;
  
  left: 0px;
  width: 100%;

}
    .item {
      margin: 5px auto;
      border-radius: 15px;
      font-size: large;
    }
  
   
  .rowcanvas{
    position: absolute;
    bottom:50px;
    top:0px;
    width: 100%;

  }
    .btnmap {
      width: 100%;
      //height: 3em;
    }
    .heightstyle {
      width: 100%;
      height: 100%;
    }
    .heightstyle10 {
      width: 100%;
      height: 10%;
    }
    .heightstyle20 {
      width: 100%;
      height: 20%;
    }
  
    .heightstyle90 {
      width: 100%;
      height: 90%;
    }
    .btnadd {
      width: 100%;
      height: 100%;
    }
    .div_btn_map {
      flex-grow: 1;
      width: 90%;
      height: 70%;
      //margin: 0px !important;
    }
    .btn_map {
      //margin: 0px !important;
      min-height: 100%;
      min-width: 100%;
      border-radius: 15px;
    }
  }
  