<!-- param page html template -->
<ion-header no-border>
    <headpage pageName="docking"></headpage>
  </ion-header>
  
  <ion-content padding id="body8">
   
      <ion-grid class="heightstyle">
        <!-- <ion-row class="heightstyle10" id="firstrow8">
          <ion-col col-5>
            <ion-list>
              <ion-item>
                <ion-label>{{this.param.datatext.maps}} : </ion-label>
                <ion-select #select1
                  interface="popover"
                  [(ngModel)]="current_map"
                  okText="{{this.param.datatext.btn_ok}}"
                  cancelText="{{this.param.datatext.btn_cancel}}"
                  (ionChange)="onMapChange($event)"
                  (mouseup)="onSliderRelease($event,select1)"
                >
                  <ion-option *ngFor="let m of this.api.all_maps" value="{{m.Id}}"
                    >{{m.Name}}</ion-option
                  >
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col col-3></ion-col>
          <ion-col col-4 style="background-color: rgb(182, 217, 230)"></ion-col>
        </ion-row> -->
        <ion-row class="heightstyle" id="firstrow8">
          <ion-col
            col-8
            id="testcol8"
            class="heightstyle"
            style="background-color: rgba(0, 0, 0, 0.904)"
          >
            <ion-row class="rowcanvas">
              <canvas
                #canvas8
                
                (wheel)="on_wheel($event);"
               
                (mouseup)="on_mouse_up($event);"
                (mousedown)="on_mouse_down($event);"
                (mousemove)="on_mouse_move($event);"
              ></canvas>
              <img id="imgmap8" #imgma8 src={{map_url}} crossorigin="anonymous" class="video" style="display:none;" />
            </ion-row>
            <ion-row class="btnsmap">
              <ion-col col-3>
                <button class="btnmap" (mouseup)="on_zoom_out($event)" ion-button>
                  <ion-icon name="search"></ion-icon> -
                </button>
              </ion-col>
              <ion-col col-3>
                <button ion-button (mouseup)="on_zoom_in($event)" class="btnmap">
                  <ion-icon name="search"></ion-icon> +
                </button>
              </ion-col>
              <ion-col col-2>
                <button
                  [hidden]="reloc"
                  ion-button
                  class="btnmap"
                  (mouseup)="on_click_relocate($event)"
                >
                  {{param.datatext.reloc}}
                </button>
                <button
                  [hidden]="!reloc"
                  ion-button
                  color="secondary"
                  class="btnmap"
                  (mouseup)="on_click_relocate($event)"
                >
                  {{param.datatext.confirm}}
                </button>
              </ion-col>
              <ion-col col-2>
                <button
                  [disabled]="!reloc"
                  class="btnmap"
                  (mouseup)="on_click_relocate_left($event)"
                  ion-button
                >
                  <ion-icon name="undo"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-2>
                <button
                  [disabled]="!reloc"
                  ion-button
                  (mouseup)="on_click_relocate_right($event)"
                  class="btnmap"
                >
                  <ion-icon name="redo"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-4 style="background-color: rgb(182, 217, 230)">
            <ion-label>
              <h1 text-wrap style="font-size: 3vw; text-align: left;">
                {{param.datatext.configDocking}} :
              </h1>
            </ion-label>
            <ion-content *ngIf="!config" style="height: 100%; width: 100%; background-color: transparent;">
              <h2
                  text-wrap
                  style="
                  color: rgb(26, 156, 195);
                  margin-bottom: 30px;
                  margin-top: 30px;
                  text-align: left;
                  font-size: 2vw;"
              >
              {{param.datatext.configDockingInfo1}}
              </h2>

              <ion-row>
                  <ion-col col-8> </ion-col>
                  <ion-col col-4 align-self-center text-center>
                  <button
                      (mouseup)="onChangeConfig($event)"
                      ion-button
                      style="width: 100%; font-size: x-large;"
                  >
                      {{param.datatext.btn_ok}}
                  </button>
                  </ion-col>
              </ion-row>
            </ion-content>
            <ion-content *ngIf="config" style="height: 100%; width: 100%; background-color: transparent;">
                <h2
                    text-wrap
                    style="
                    color: rgb(26, 156, 195);
                    margin-bottom: 30px;
                    margin-top: 30px;
                    text-align: left;
                    font-size: 2vw;"
                >
                {{param.datatext.configDockingInfo2}}
                </h2>

                <ion-row>
                    <ion-col> </ion-col>
                    <ion-col>
                    <button
                        (mouseup)="canceldocking($event)"
                        style="
                        width: 100%;
                        color: rgb(26, 156, 195);
                        text-decoration: underline;
                        font-size: x-large;
                        "
                        ion-button
                        clear
                    >
                        <div>{{param.datatext.btn_cancel}}</div>
                    </button>
                    </ion-col>
                    <ion-col align-self-center text-center>
                    <button
                        (mouseup)="popup.askConfigDocking($event)"
                        ion-button
                        style="width: 100%; font-size: x-large;"
                    >
                        {{param.datatext.btn_save}}
                    </button>
                    </ion-col>
                </ion-row>
            </ion-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    
  </ion-content>