<!-- param page html template -->
<ion-header no-border>
  <headpage pageName="paramuv"></headpage>
</ion-header>

<ion-content padding>
  <ion-card text-center class="big_card">
    <ion-grid class="wstyle70">
      <ion-row class="heightstyle90">
        <ion-col col-12>
          <ion-item>
            <ion-label text-wrap>{{param.datatext.evacuationTime}}</ion-label>
            <ion-input
              type="number"
              min="0"
              max="1000"
              step="10"
              [(ngModel)]="t_evac"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>{{param.datatext.preheatingTime}}</ion-label>
            <ion-input
              type="number"
              min="0"
              max="1000"
              step="10"
              [(ngModel)]="t_preheat"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>{{param.datatext.lampThreshold}}</ion-label>
            <ion-input
              type="number"
              min="0"
              max="20000"
              step="100"
              [(ngModel)]="threshold_lamp"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>{{param.datatext.uvThreshold}}</ion-label>
            <ion-input
              type="number"
              min="0"
              max="1000"
              step="10"
              [(ngModel)]="threshold_uv"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>{{param.datatext.batteryThreshold}}</ion-label>
            <ion-input
              type="number"
              min="10"
              max="90"
              step="2"
              [(ngModel)]="threshold_battery"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>{{param.datatext.personDetection}}</ion-label>
            <ion-toggle
              [checked]="detection"
              (ionChange)="onToggleChange()"
            ></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="heightstyle10">
        <ion-col col-6>
          <ion-buttons class="div_btn_param">
            <button
              class="btn_param"
              (mouseup)="onCancel($event)"
              style="color: rgb(26, 156, 195); text-decoration: underline"
              ion-button
              clear
            >
            {{param.datatext.btn_cancel}}
            </button></ion-buttons
          >
        </ion-col>
        <ion-col col-6>
          <ion-buttons class="div_btn_param">
            <button
              class="btn_param"
              [disabled]="!btnsave()"
              ion-button
              color="primary"
              (mouseup)="savePassword($event)"
            >
            {{param.datatext.btn_save}}
            </button></ion-buttons
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
