//home page style sheet
page-paramuv {
  ion-content > div.scroll-content {
    overflow: hidden;
  }
  .big_card {
    //background-size: cover;
    //background-image: url("../assets/imgs/patrol.jpg");
    background-color: rgba(26, 156, 195, 0.199);
    height: 98%;
    border-radius: 15px;
    vertical-align: middle;
    justify-content: center;
    display: flex !important;
    align-items: center !important;
  }

  .wstyle70 {
    width: 50%;
  }

  .heightstyle {
    width: 100%;
    height: 100%;
  }
  .heightstyle10 {
    width: 100%;
    height: 10%;
  }
  .heightstyle20 {
    width: 100%;
    height: 20%;
  }

  .heightstyle90 {
    width: 100%;
    height: 90%;
  }
  .btnadd {
    width: 100%;
    height: 5em;
  }
  .item {
    margin: 5px auto;
    border-radius: 15px;
    font-size: large;
  }
  .div_btn_param {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    //margin: 0px !important;
  }
  .btn_param {
    font-size: x-large;
    //margin: 0px !important;
    min-height: 100%;
    min-width: 100%;
    border-radius: 15px;
  }
}
