<!-- param page html template -->
<ion-header no-border>
  <headpage pageName="qrcode"></headpage>
</ion-header>

<ion-content id="body5">
 
    <ion-grid class="heightstyle">
     
      <ion-row class="heightstyle" id="firstrow5">
        <ion-col
          col-8
          id="testcol5"
          class="heightstyle"
          style="background-color: rgba(0, 0, 0, 0.904)"
        >
          <ion-row class="rowcanvas">
            <canvas
            [hidden]="addqr"
              #canvas5
              (wheel)="on_wheel($event);"
              (mouseup)="on_mouse_up($event);"
              (mousedown)="on_mouse_down($event);"
              (mousemove)="on_mouse_move($event);"
            ></canvas>
            <video  [hidden]="!addqr || param.robot.cam_USB == 0" #video2 autoplay class="video"></video>
            <canvas #videoCanvas2 style="display: none;"></canvas> 
            <img  [hidden]="!addqr || param.robot.cam_USB == 1" class="video" id="imgcompressed2" />
            
            <img id="imgmap5" #imgmap5 src={{map_url}} crossorigin="anonymous" class="video" style="display:none;" />
          </ion-row>
          <ion-row class="btnsmap" [hidden]="addqr">
            <ion-col col-3 >
              <button class="btnmap" (mouseup)="on_zoom_out($event)" ion-button>
                <ion-icon name="search"></ion-icon> -
              </button>
            </ion-col>
            <ion-col col-3>
              <button ion-button (mouseup)="on_zoom_in($event)" class="btnmap">
                <ion-icon name="search"></ion-icon> +
              </button>
            </ion-col>
            <ion-col col-2>
              <button
                [hidden]="reloc"
                ion-button
                class="btnmap"
                (mouseup)="on_click_relocate($event)"
              >
                {{param.datatext.reloc}}
              </button>
              <button
                [hidden]="!reloc"
                ion-button
                color="secondary"
                class="btnmap"
                (mouseup)="on_click_relocate($event)"
              >
                {{param.datatext.confirm}}
              </button>
            </ion-col>
            <ion-col col-2>
              <button
                [disabled]="!reloc"
                class="btnmap"
                (mouseup)="on_click_relocate_left($event)"
                ion-button
              >
                <ion-icon name="undo"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-2>
              <button
                [disabled]="!reloc"
                ion-button
                (mouseup)="on_click_relocate_right($event)"
                class="btnmap"
              >
                <ion-icon name="redo"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-col>


        <ion-col col-4 style="background-color: rgb(182, 217, 230)">
          <ion-row class="heightstyle10">
          <ion-col col-9 style="background-color: rgb(182, 217, 230)">
            <ion-item style="background-color: transparent">
              <ion-label>
                <h1 style="font-size: x-large" [hidden]="addqr || qrdetected">
                  {{param.datatext.qrcodes_list}}
                </h1>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-3 style="background-color: rgb(182, 217, 230)">
            <ion-buttons class="div_btn_map">
              <button
                [hidden]="addqr || qrdetected"
                (mouseup)="onClickAddQR($event)"
                ion-button
                class="btn_map"
                *ngIf="api.id_current_map!=undefined"
              >
                <ion-icon style="font-size: 3vw" name="add"></ion-icon></button
            ></ion-buttons>
          </ion-col>
          </ion-row>

          <ion-row class="heightstyle90" >
          <ion-content
            #content1
            class="scroll"
            [hidden]="addqr || qrdetected"
            style="height: 100%; width: 100%; background-color: transparent;"
          >
            <ion-list *ngFor="let m of this.param.qrcodes; let index = index;">
              <ion-item-sliding
                *ngIf="m.id_map ==api.id_current_map"
                style="background-color: transparent"
                (mouseup)="open($event,slidingItem)"
                #slidingItem
              >
                <ion-item style="background-color: rgba(255, 255, 255, 0.76)">
                  <h2>qr-{{m.qr}}</h2>
                  <p *ngIf="m.id_round < 0">{{param.datatext.POI_edit}} --</p>
                  <p *ngIf="m.id_round >= 0">
                  {{param.datatext.POI_edit}} {{getname(m.id_round)}}
                  </p>
                </ion-item>
                <ion-item-options side="right">
                  <button
                  [disabled]="!api.adminMode"
                    (mouseup)="popupDelete($event,m.qr,m.id_poi)"
                    ion-button
                    style="min-width: 60px"
                    color="danger"
                  >
                    <ion-icon name="trash"></ion-icon>
                    {{param.datatext.delete}}
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list></ion-content
          >

          <div [hidden]="!addqr" class="newpoistyle">
            <h1
              [hidden]="!qrdetection"
              text-wrap
              style="
                color: rgb(26, 156, 195);
                margin-bottom: 20px;
                text-align: left;
              "
            >
            Recherche de QR code en cours ...
            </h1>
            <h1
            [hidden]="qrdetection"
              text-wrap
              style="
                color: rgb(26, 156, 195);
                margin-bottom: 20px;
                text-align: left;
              "
            >
              {{param.datatext.qrcodeIndication}}
            </h1>
            <h1
            [hidden]="qrdetection"
              style="
                color: rgb(26, 156, 195);
                margin-bottom: 30px;
                text-align: left;
              "
              text-wrap
            >
              {{param.datatext.qrcodeIndication1}}
            </h1>

            <ion-row>
              <ion-col> </ion-col>
              <ion-col>
                <button

                  (mouseup)="canceladdqr($event)"
                  style="
                    width: 100%;
                    color: rgb(26, 156, 195);
                    text-decoration: underline;
                    font-size: x-large;
                  "
                  ion-button
                  clear
                >
                  <div>{{param.datatext.btn_cancel}}</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <button
                [hidden]="qrdetection"
                  (mouseup)="scan($event)"
                  ion-button
                  style="width: 100%; font-size: x-large"
                >
                  {{param.datatext.qrcodeScan}}
                </button>
              </ion-col>
            </ion-row>
          </div>

          <div [hidden]="!qrdetected" class="newpoistyle">
            <h1 text-wrap>
              {{param.datatext.qrcodeDetected1}} '{{qr_read}}'
              {{param.datatext.qrcodeDetected2}}.
            </h1>

            <ion-item>
              <ion-label>{{param.datatext.tieRound}}</ion-label>
              <ion-checkbox
                [(ngModel)]="link_to_round"
                color="primary"
              ></ion-checkbox>
            </ion-item>
            <ion-item [hidden]="!link_to_round">
              <ion-label>{{param.datatext.round_qrcodesPage}}</ion-label>
              <ion-select #select2
                interface="popover"
                [(ngModel)]="round"
                okText="{{this.param.datatext.btn_ok}}"
                cancelText="{{this.param.datatext.btn_cancel}}"
                (mouseup)="onSliderRelease($event,select2)"
              >
                <ion-option
                  *ngFor="let m of this.api.round_current_map"
                  value="{{m.Id}}"
                  >{{m.Name}}</ion-option
                >
              </ion-select>
            </ion-item>
            <ion-row>
              <ion-col> </ion-col>
              <ion-col>
                <button
                  (mouseup)="canceladdqr($event)"
                  style="
                    width: 100%;
                    color: rgb(26, 156, 195);
                    text-decoration: underline;
                    font-size: x-large;
                  "
                  ion-button
                  clear
                >
                  <div>{{param.datatext.btn_cancel}}</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <button
                  (mouseup)="createqr($event)"
                  ion-button
                  style="width: 100%; font-size: x-large"
                >
                  {{param.datatext.btn_save}}
                </button>
              </ion-col>
            </ion-row>
          </div>


          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>
