//home page style sheet
page-tuto {

ion-content > div.scroll-content {
    overflow: hidden;
}
.center iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}



}