<!-- home page html template -->
<ion-header no-border>
  <headpage pageName="tuto"></headpage>
</ion-header>

<ion-content padding >
  <ion-scroll scrollY="true" style="height:100%;width:80%;left:50%;transform:translateX(-50%); " >
    <div class="center" style="height:100%;">
      <div id="ionbody" style="display: flex;flex-grow: 1;  flex-direction: column;background: #ddd;overflow-y: auto;" width="60%" height="100%">

      </div>
    </div>
  </ion-scroll>
</ion-content>


