//home page style sheet
page-lift {
  ion-content > div.scroll-content {
    overflow: hidden;
  }
  .scroll > div.scroll-content {
    overflow: auto;
  }
 
  .btn_go {
    margin: 0px !important;
  
    min-height: 50%;
    min-width: 100%;
    border-radius: 15px;
    font-size: xx-large;
  }

  .divideo{
    margin: 0px !important;
    min-height: 50%;
    min-width: 100%;
    //border-radius: 15px;
 
  }

  .labelcss{
    font-size: x-large;
    text-align: left;
  }

  .video2{
    flex-grow : 1;
    margin: 0px !important;
    vertical-align: middle !important;
    height: 100%;
    width: 100%;
    height: 99%;
    width: auto;
    max-width: 95%;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
   
 }

 .video3{
  flex-grow : 1;
  margin: 0px !important;
  //vertical-align: middle !important;
  height: auto;

  border-radius: 15px;
  width: auto;
  //max-width: 98%;
  position:absolute; /* postulat de départ */
  //top: 50%; left: 50%; /* à 50%/50% du parent référent */
  //transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
 
}
  .video{
   flex-grow : 1;
   margin: 0px !important;
   vertical-align: middle !important;
   height: 100%;
   width: 100%;
   height: 99%;
   width: auto;
   max-width: 95%;
   position: absolute; /* postulat de départ */
   top: 50%; left: 50%; /* à 50%/50% du parent référent */
   transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  
}
  .big_card {
    //background-size: cover;
    //background-image: url("../assets/imgs/patrol.jpg");
    background-color: rgba(26, 156, 195, 0.199);
    height: 98%;
    border-radius: 15px;
    vertical-align: middle;
    justify-content: center;
    display: flex !important;
    align-items: center !important;
  }
  .item {
    margin: 5px auto;
    border-radius: 15px;
    font-size: large;
  }

  ion-col {
    //border: 2px solid #aeb7ca;
  }
  .btnmap {
    width: 100%;
    height: 3em;
  }
  .heightstyle {
    width: 100%;
    height: 100%;
  }
  .heightstyle10 {
    width: 100%;
    height: 10%;
  }
  .heightstyle20 {
    width: 100%;
    height: 20%;
  }

  .joy{
    //flex-grow : 1;
    //margin: 0px !important;
    //vertical-align: middle !important;
    height: 100%;
    width: 98%;
    position: absolute; 
    //background-color: transparent;
}

  .heightstyle90 {
    width: 100%;
    height: 90%;
  }
  .btnadd {
    width: 100%;
    height: 100%;
  }
  .div_btn_map {
    flex-grow: 1;
    width: 90%;
    height: 70%;
    //margin: 0px !important;
  }
  .btn_map {
    //margin: 0px !important;
    min-height: 100%;
    min-width: 100%;
    border-radius: 15px;
  }
}
