<!-- lift page html template -->
<ion-header no-border>
  <headpage pageName="lift"></headpage>
</ion-header>

<ion-content padding id="body7">
  <ion-card text-center class="big_card">
    <ion-grid class="heightstyle">
      <ion-row class="heightstyle10" id="firstrow7">
        <ion-col col-4>
          <ion-list>
            <ion-item>
              <ion-label>{{this.param.datatext.maps}} : </ion-label>
              <ion-select #select1
                interface="popover"
                [(ngModel)]="current_map"
                okText="{{this.param.datatext.btn_ok}}"
                cancelText="{{this.param.datatext.btn_cancel}}"
                (ionChange)="onMapChange($event)"
                (mouseup)="onSliderRelease($event,select1)"
              >
                <ion-option *ngFor="let m of this.api.all_maps" value="{{m.Id}}"
                  >{{m.Name}}</ion-option
                >
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-2>
          <!-- <ion-buttons class="div_btn_map">
            <button
              (mouseup)="reloc_pharma()"
              ion-button
              color="warning"
              class="btn_map"
            >
            RELOC PHARMA
             </button
          ></ion-buttons> -->
        </ion-col>
        <ion-col col-2>
          <!-- <ion-buttons class="div_btn_map">
            <button
             (mouseup)="reloc_chimio()"
              ion-button
              color="warning"
              class="btn_map"
            >
              RELOC CHIMIO</button
          ></ion-buttons> -->
        </ion-col>
        <ion-col col-2 >
          <ion-buttons class="div_btn_map">
            <button
            [disabled]="api.moovingpharma"
             (mouseup)="go_pharma($event)"
              ion-button
              color="secondary"
              class="btn_map"
            >
              GO PHARMA</button
          ></ion-buttons>
        </ion-col>
        <ion-col col-2>
          <ion-buttons class="div_btn_map">
            <button
            [disabled]="api.moovingchimio"
             (mouseup)="go_chimio($event)"
              ion-button
              color="secondary"
              class="btn_map"
            >
              GO CHIMIO</button
          ></ion-buttons>
        </ion-col>
      </ion-row>
      <ion-row class="heightstyle90" id="firstrow7">
        <ion-col
         
          col-8
          id="testcol7"
          class="heightstyle"
          style="background-color: rgba(0, 0, 0, 0.904)"
        >
          <ion-row [hidden]="cam" class="heightstyle90">
            <canvas
              #canvas7
              (wheel)="on_wheel($event);"
              (mouseup)="on_mouse_up($event);"
              (mousedown)="on_mouse_down($event);"
              (mousemove)="on_mouse_move($event);"
            ></canvas>
            
            <img id="imgmap7" #imgmap7 src={{map_url}} crossorigin="anonymous" class="video" style="display:none;" />
          </ion-row>
          <!-- <ion-row [hidden]="!cam" class="heightstyle90">
            <img class="video2" id="imgcpsd" /> 
            <div class="joy" id="zone_joystick"></div>
          </ion-row> -->
          <ion-row class="heightstyle10" >
            <ion-col col-3 >
              <button class="btnmap" (mouseup)="on_zoom_out($event)" ion-button>
                <ion-icon name="search"></ion-icon> -
              </button>
            </ion-col>
            <ion-col col-3>
              <button ion-button (mouseup)="on_zoom_in($event)" class="btnmap">
                <ion-icon name="search"></ion-icon> +
              </button>
            </ion-col>
            <!-- <ion-col col-2 >
              <button class="btnmap" (mouseup)="change_cam()" ion-button>
                <ion-icon
                *ngIf="!cam"
               
                name="camera"
                
              ></ion-icon>
              <ion-icon
                *ngIf="cam"
                
                name="map"
                
              ></ion-icon>
              </button>
            </ion-col> -->
            <ion-col col-2>
              <button
                [hidden]="reloc"
                [disabled]="cam"
                ion-button
                class="btnmap"
                (mouseup)="on_click_relocate($event)"
              >
                {{param.datatext.reloc}}
              </button>
              <button
                [hidden]="!reloc"
                
                ion-button
                color="secondary"
                class="btnmap"
                (mouseup)="on_click_relocate($event)"
              >
                {{param.datatext.confirm}}
              </button>
            </ion-col>
            <ion-col col-2>
              <button
                [disabled]="!reloc"
                class="btnmap"
                (mouseup)="on_click_relocate_left($event)"
                ion-button
              >
                <ion-icon name="undo"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-2>
              <button
                [disabled]="!reloc"
                ion-button
                (mouseup)="on_click_relocate_right($event)"
                class="btnmap"
              >
                <ion-icon name="redo"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-col>


        <ion-col col-4 >
         
          <!-- <ion-label class="labelcss"> "Floors": {{this.api.lift_status.floors}} </ion-label>
          <ion-label class="labelcss">"CurrentFloor": {{this.api.lift_status.currentFloor}}  </ion-label>
          <ion-label class="labelcss">"TargetFloor": {{this.api.lift_status.targetFloor}}  </ion-label>
          <ion-label class="labelcss">"IsBusy" : {{this.api.lift_status.isBusy}}  </ion-label>
          <ion-label class="labelcss">"Id": {{this.api.lift_status.id}}  </ion-label> -->
          <!-- <button class="btnmap" (mouseup)="enter_lift()" ion-button>
            Enter Lift
          </button>
          <button class="btnmap" (mouseup)="leave_lift($event)" ion-button>
            Leave Lift
          </button> -->
          <!-- <button [disabled]="api.lift_status.isBusy" class="btnmap" (mouseup)="pharmatochimio($event)" ion-button>
            CALL LIFT CHIMIO
          </button>
          <button [disabled]="api.lift_status.isBusy" class="btnmap" (mouseup)="chimiotopharma($event)" ion-button>
            CALL LIFT  PHARMA
          </button> -->
          <div class="divideo">
          
          <div class="joy" id="zone_joystick"><img class="video3" id="imgcpsd" /></div>
          </div>
          <button class="btn_go" color="danger" (mouseup)="stoprobot()" ion-button>
            STOP
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
